html, body {
}

body {
}

.container-fluid {
}

.vertical-align {
}

.banner {
}

.header {
  display: flex;
  align-items: center;
  background: #f4f4f4 url(../img/farine.jpg) top center;
  background-size: cover;
  text-align: center;
  width: 100%;
  min-height: 400px
}

.logo {
  width: 100%;
}

.logo-img {
  vertical-align: middle;
  display: block;
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.logo address span {
  font-size: 20px;
}

address span {
  display: block;
}

.header nav {
}

#fournilmap {
  height: 300px;
}

.fournil-content-img {
  width: 500px;
}
