html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../img/travaux.jpg");
  background-size: cover;
  background-color: #cccccc;
}

.container-fluid {
}

.vertical-align {
  display: flex;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.banner {
  text-align: center;
  color: black;
  background-color: white;
  width: 100%;
}

h1 {
  font-size: 60px;
}
