<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr-fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{{ block "title" . }}{{ .Site.Title }} - {{ .Title }}{{ end }}</title>
    {{ block "head" . }}{{ end }}
    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/fournil.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{ block "header" . }}
<div class="header">
  <div class="logo">
    <img class="logo-img" src="{{ .Site.BaseURL }}img/logo_pain_transparent.png" alt="logo">
    <address>
      <span class="title">{{ .Site.Title }}</span>
      {{ range $address := .Site.Params.Address }}
      <span class="address">{{ $address }}</span>
      {{ end }}
      <span class="phone">{{ .Site.Params.Phone }}</span>
      <span class="email">
        <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
      </span>
    </address>
  </div>
</div>
{{ partial "menu.html" . }}
    {{ end }}
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
  </body>
</html>
