{{ define "head" }}
<link href="{{ .Site.BaseURL }}css/leaflet.css" rel="stylesheet" type="text/css">
{{ end }}

{{ define "footer" }}
<script>
  var fournilNav = document.getElementById('fournil-nav');

  window.addEventListener('scroll', function (e) {
    var nav = document.getElementById('fournil-nav');
    if (nav.offsetTop > 400) {
      nav.classList.remove('fournil-nologo-nav');
    } else {
      nav.classList.add('fournil-nologo-nav');
    }
  });
</script>
<script src="{{ .Site.BaseURL }}js/leaflet.js"></script>
<script src="{{ .Site.BaseURL }}js/fournil-map.js"></script>
{{ end }}

{{ define "fournil-nav-classes" }} fournil-nologo-nav{{ end }}

{{ define "header" }}
<div class="header">
  <div class="logo">
    <img class="logo-img" src="{{ .Site.BaseURL }}img/logo_pain_transparent.png" alt="logo">
    {{ partial "address.html" . }}
  </div>
</div>
{{ end}}

{{ define "main" }}
<div class="vertical-align">
  <div class="banner">
    {{ .Content }}
    {{ partial "address.html" . }}
    <div id="fournilmap"></div>
  </div>
</div>
{{ end }}
