{{ define "head" }}
<link href="{{ "css/fournil-map.min.css" | relURL }}" rel="stylesheet" type="text/css">
{{ end }}

{{ define "footer" }}
<script>
  var fournilNav = document.getElementById('fournil-nav');
  var fournilHeader = document.getElementById('fournil-header');

  window.addEventListener('scroll', function (e) {
    var nav = document.getElementById('fournil-nav');
    if (nav.offsetTop > fournilHeader.clientHeight) {
      nav.classList.remove('fournil-nologo-nav');
    } else {
      nav.classList.add('fournil-nologo-nav');
    }
  });
</script>
<script src="{{ "js/fournil-map.min.js" | relURL }}"></script>
<script src="{{ "js/fournil-holidays.min.js" | relURL }}"></script>
<script>
  var holidayranges = ({{ $.Site.Data.fournil.holidays }}).map(function(dr) {
    return moment.range(dr);
  }).filter(function(dr) {
    var drclone = dr.clone();
    return moment.range(drclone.start.subtract(15, 'days'), drclone.end).contains(moment().hour(0).minute(0).second(0).millisecond(0));
  });
  var fournilHolidays = document.getElementById('fournil-holidays');
  if (holidayranges.length > 0) {
    var closedranges = [];
    for (var i = 0; i < holidayranges.length; i++) {
      closedranges.push(formatRange(holidayranges[i]));
    }
    var closedrangesstr = [closedranges.slice(0, -1).join(', '), closedranges.slice(-1)[0]].join(closedranges.length < 2 ? '' : ' et ');
    fournilHolidays.innerHTML = "Le fournil sera exceptionnellement fermé " + closedrangesstr + ".";
  }
</script>
{{ end }}

{{ define "fournil-nav-classes" }} fournil-nologo-nav{{ end }}

{{ define "header" }}
<div id="fournil-header" class="header">
  <div class="fournil-logo-bio">
    <span>
      <img src="{{ "img/AB.svg" | relURL }}" alt="logo AB" onerror="this.src='{{ "img/AB.png" | relURL }}'">
    </span>
    <span>
      <img src="{{ "img/EU_Organic.svg" | relURL }}" alt="logo bio EU" onerror="this.src='{{ "img/EU_Organic.png" | relURL }}'">
    </span>
  </div>
  <div class="fournil-logo">
    <img class="fournil-logo-img" src="{{ "img/logo_pain.svg" | relURL }}" alt="logo pain" onerror="this.src='{{ "img/logo_pain.png" | relURL }}'">
    {{ partial "address.html" . }}
  </div>
</div>
{{ end}}

{{ define "main" }}
<div class="vertical-align">
  <div class="fournil-banner">
    {{ .Content }}
    {{ partial "reservation.html" . }}
    <h3>
      <div id="fournil-holidays"></div>
    </h3>
    {{ partial "address.html" . }}
    <div id="fournilmap"></div>
  </div>
</div>
{{ end }}
